USE [master]
GO
/****** Object:  Database [pavileniDB]    Script Date: 03.02.2021 15:54:54 ******/
CREATE DATABASE [pavileniDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pavileniDB', FILENAME = N'D:\SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\pavileniDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pavileniDB_log', FILENAME = N'D:\SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\pavileniDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pavileniDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pavileniDB]
GO
/****** Object:  Table [dbo].[Pavilieni]    Script Date: 03.02.2021 15:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pavilieni](
	[Name] [varchar](50) NULL,
	[NumberPavilien] [varchar](50) NOT NULL,
	[Floor] [int] NULL,
	[Status] [varchar](50) NULL,
	[Area] [float] NULL,
	[Price] [float] NULL,
	[Ratio] [float] NULL,
 CONSTRAINT [PK_Pavilieni] PRIMARY KEY CLUSTERED 
(
	[NumberPavilien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rent]    Script Date: 03.02.2021 15:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rent](
	[IdRent] [int] NOT NULL,
	[IdTancent] [int] NULL,
	[NameShopMall] [varchar](50) NULL,
	[IdEmploye] [int] NULL,
	[NumberPav] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[OpenRent] [date] NULL,
	[CloseRent] [date] NULL,
 CONSTRAINT [PK_Rent] PRIMARY KEY CLUSTERED 
(
	[IdRent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingMall]    Script Date: 03.02.2021 15:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingMall](
	[Name] [varchar](50) NOT NULL,
	[Status] [varchar](50) NULL,
	[CountPav] [int] NULL,
	[City] [varchar](50) NULL,
	[Price] [float] NULL,
	[Ratio] [float] NULL,
	[Floor] [int] NULL,
	[Picture] [varbinary](max) NULL,
 CONSTRAINT [PK_ShoppingMall] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tenants]    Script Date: 03.02.2021 15:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenants](
	[IdTen] [int] NOT NULL,
	[IdRent] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[PhoneNumber] [varchar](50) NULL,
	[Address] [varchar](150) NULL,
 CONSTRAINT [PK_Tenants] PRIMARY KEY CLUSTERED 
(
	[IdTen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03.02.2021 15:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[MidName] [varchar](50) NULL,
	[Role] [varchar](50) NULL,
	[NumberPhone] [varchar](50) NULL,
	[Sex] [varchar](50) NULL,
	[Picture] [varbinary](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rent]  WITH CHECK ADD  CONSTRAINT [FK_Rent_Pavilieni] FOREIGN KEY([NumberPav])
REFERENCES [dbo].[Pavilieni] ([NumberPavilien])
GO
ALTER TABLE [dbo].[Rent] CHECK CONSTRAINT [FK_Rent_Pavilieni]
GO
ALTER TABLE [dbo].[Rent]  WITH CHECK ADD  CONSTRAINT [FK_Rent_ShoppingMall] FOREIGN KEY([NameShopMall])
REFERENCES [dbo].[ShoppingMall] ([Name])
GO
ALTER TABLE [dbo].[Rent] CHECK CONSTRAINT [FK_Rent_ShoppingMall]
GO
ALTER TABLE [dbo].[Rent]  WITH CHECK ADD  CONSTRAINT [FK_Rent_Tenants] FOREIGN KEY([IdTancent])
REFERENCES [dbo].[Tenants] ([IdTen])
GO
ALTER TABLE [dbo].[Rent] CHECK CONSTRAINT [FK_Rent_Tenants]
GO
ALTER TABLE [dbo].[Rent]  WITH CHECK ADD  CONSTRAINT [FK_Rent_Users] FOREIGN KEY([IdEmploye])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Rent] CHECK CONSTRAINT [FK_Rent_Users]
GO
ALTER TABLE [dbo].[Tenants]  WITH CHECK ADD  CONSTRAINT [FK_Tenants_Rent] FOREIGN KEY([IdRent])
REFERENCES [dbo].[Rent] ([IdRent])
GO
ALTER TABLE [dbo].[Tenants] CHECK CONSTRAINT [FK_Tenants_Rent]
GO
USE [master]
GO
